/EvenOrOdd.class
/FindTarget.class
/FrequencyAndReverse.class
/NthPrimeAndList.class
/PalindromeChecker.class
/PalindromeOrNot.class
/PerfectOrNot.class
/PrimeNumber.class
/PrimeNumbers.class
/PrimeOrNot.class
/SieveOfEratosthenes.class
/StringReverser.class
/VowelConsonantCounter.class
/WordFrequency.class
/Armstrong.class
/SumByKeyChallenge.class
/WordLengthCounter.class
/GroupByFirstLetter.class
/VoteCounter.class
/DigitFrequencyCounter.class
/LetterFrequencyCounter.class
/FirstNonRepeatingCharacter.class
/BruteForcePrimes.class
/OptimizedTrialDivision.class
/SievePrimes.class
/FilterEvenNumbers.class
/SquareAndFilter.class
/FirstNameStartsWithA.class
/ExtractWords.class
/LongestWordReducer.class
